body {
  background-image: url(./img/concrete_seamless.png);
}
#container {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  padding: 18px;
  background: #4aaaa5;
  color: #fff;
}
.menu ul li {
  display: inline-block;
}
.menu a {
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
  text-decoration: none;
  font-size: 20px;
}
.menu li + li:before {
  color: #999;
  content: " | ";
}
#main-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px auto 40px auto;
}

#container-contact {
  border: 1px solid #ddd;
  background-color: #fff;
  width: 40%;
}
#container-contact h2 {
  padding: 20px 20px;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 3px solid #ddd;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #4aaaa5;
}
#name,
#email,
#message {
  height: 35px;
  padding: 0 10px;
  width: 90%;
  font-size: 14px;
  border: 1px solid #ddd;
}
.contact label{
  display: block;
  font-size: 20px;
  color: #999;
  line-height: 45px;
}
#message {
  height: 150px;
}
#submit{
  font-size: 18px;
  margin: 20px;
  padding:10px 30px 10px 30px;
  color: #fff;
  background-color: #4aaaa5;
}
.social-medias {
  display: flex;
  padding: 10px;
}
.social-medias .contact {
  margin: 0 5px;
}
.social-medias .contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.connect {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 16%;
  height: fit-content;
}
.connect h2 {
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid #eee;
  font-size: 22px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}
.connect img {
  padding: auto;
  width: 25%;
}
.container-footer {
  padding: 30px 0;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}

@media (max-width: 992px) {
  #main-container {
    flex-direction: column;
    align-items: center;
  }
  #container-contact {
    width: 90%;
    padding: 0;
  }
  .connect {
    width: 40%;
  }
}

@media (max-width: 499px) {
 
  .name {
    font-size: 20px;
    padding: auto;
  }
  .menu ul li {
    display: block;
  }
  .menu li + li:before {
    color: #999;
    content: "";
  }
  .connect h2 {
    font-size: 15px;
  }
  .menu a {
    font-size: 15px;
  }
}
